/* szinek: github.com/catppuccin */
:root {
  --main-bg-color: hsl(220, 21%, 89%);
  --secondary-bg-color: hsl(220, 22%, 92%);
  --main-text-color: hsl(234, 16%, 35%);
  --main-border-color: hsl(233, 13%, 41%);
  --main-highlight-color: hsl(231, 97%, 72%);
}

body {
  font-family: 'Roboto', 'Ubuntu', 'Monospace', 'Cursive', 'Fantasy', 'Serif',
    'Sans-serif';
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--main-text-color);
}

.navbar-center,
.navbar-left,
#dark-mode-switcher {
  border: 1px solid var(--main-border-color);
}

.navbar-center span {
  border: 1px solid var(--main-border-color);
}

.navbar-center span:hover,
.navbar-left:hover,
#dark-mode-switcher:hover,
.dropdown :hover {
  background-color: var(--main-highlight-color);
}

.navbar-left,
.navbar-center {
  background-color: var(--secondary-bg-color);
}

.navbar {
  margin: 15px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
}

ol.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 0px;
  padding: 0;
  background: var(--secondary-bg-color);
  border: 1px solid var(--main-border-color);
  border-radius: 25px;
  text-align: center;
}

ol.dropdown li {
  background: var(--secondary-bg-color);
  list-style-type: none;
  padding: 10px;
}

ol.dropdown li:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

ol.dropdown li:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

ol.dropdown li a {
  text-decoration: none;
  display: block;
}

.navbar-left {
  display: flex;
  align-items: center;

  padding: 10px;
  border-radius: 30cm;
}

#logo {
  height: 50px;
  padding-right: 10px;
}
.navbar-center {
  display: flex;
  padding: 15px;
  border-radius: 30cm;
}

.navbar-item {
  user-select: none;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}
.navbar-center span {
  margin: 10px;
  padding: 10px;
  border-radius: 30cm;
}

#dark-mode-switcher {
  height: 35px;
  border-radius: 100%;
}

.footer {
  margin-top: 100px;
  display: flex;
  border-top: 1px solid var(--main-border-color);
}

.footer td {
  padding: 10px;
}
