:root {
  --main-bg-color: hsl(220, 21%, 89%);
  --navbar-color: hsl(220, 22%, 92%);
  --main-text-color: hsl(234, 16%, 35%);
  --main-border-color: hsl(233, 13%, 41%);
  --main-highlight-color: hsl(231, 97%, 72%);
}

body {
  font-family: 'Roboto', 'Ubuntu', 'Monospace', 'Cursive', 'Fantasy', 'Serif',
    'Sans-serif';
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--main-text-color);
}

.navbar-center,
.navbar-left,
#dark-mode-switcher,
.feed,
.bacon-ipsum {
  border: 1px solid var(--main-border-color);
}

.navbar-center span {
  border: 1px solid var(--main-border-color);
}

.navbar-center span:hover,
.navbar-left:hover {
  background-color: var(--main-highlight-color);
}

.navbar-left,
.navbar-center {
  background-color: var(--navbar-color);
}

.navbar {
  margin: 15px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  background-color: var(--navbar-color);
  border: solid 1px var(--main-border-color);
  position: absolute;
  display: none;
}

.dropdown li {
  font-size: 14;
}

.navbar-left {
  display: flex;
  align-items: center;

  padding: 10px;
  border-radius: 30cm;
}

#logo {
  height: 50px;
  padding-right: 10px;
}
.navbar-center {
  display: flex;
  padding: 15px;
  border-radius: 30cm;
}

.navbar-item {
  position: relative;
}
.navbar-center span {
  margin: 10px;
  padding: 10px;
  border-radius: 30cm;
}

#dark-mode-switcher {
  height: 35px;
  border-radius: 100%;
}

.recipe {
  margin-left: 2cm;
  margin-right: 2cm;
}

.ingredients img {
  border: solid 1px var(--main-border-color);
}

h1,
.ido {
  margin-left: 3cm;
}

.recipe li {
  font-size: 24px;
}

.recipe div {
  margin-top: 1cm;
  margin-bottom: 1cm;
  padding: 1cm;
  border-radius: 25px;
  border: solid 1px var(--main-border-color);
  background-color: var(--navbar-color);
}

.footer {
  margin-top: 100px;
  display: flex;
  border-top: 1px solid var(--main-border-color);
}

.footer td {
  padding: 10px;
}
